<div class="row">
	<div class="col-md-12" [ngClass]="isNewUser || isShowInformation ? 'col-lg-6' : 'col-lg-12'">
		<div class="card">
			<div class="card-header">
				Lista de Usuarios
			</div>
			<div class="card-body">
				<div class="container">
					<div class="row">
						<div class="col-6">
							<div>
								<!-- <label for="basiInput" class="form-label">Buscar</label> -->
								<input type="text" class="form-control" placeholder="Buscar..." max="100">
							</div>
						</div>
						<div class="col-6 d-flex justify-content-between">
							<div>
								<select class="form-select mb-3">
									<option selected disabled>Ordenar</option>
									<option value="ASC">Ascendente</option>
									<option value="DES">Descendente</option>
								</select>
							</div>
							<div>
								<button class="btn btn-success" (click)="isNewUser = !isNewUser">Nuevo</button>
							</div>
						</div>
					</div>
					<div class="mx-n3">
						<ngx-simplebar style="max-height: 220px;" class="px-3">
							<div class="content-users">
								<div class="content-user">
									<div class="content">
										<div class="content-img">
											<img src="https://themesbrand.com/velzon/html/default/assets/images/users/avatar-1.jpg"
												alt="">
										</div>
										<div class="content-info w-75">
											<div class="content-info-basics">
												<div class="content-info-name">
													<span>Jhon Doe</span>
												</div>
												<div class="content-info-email">
													<span>jhon.doe@gmail.com</span>
												</div>
												<div class="content-info-number">
													<span>(321) 456 45 67</span>
												</div>
											</div>
											<div class="content-date-info">
												<div class="content-date-info-top">
													<span class="title">
														Creación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
												<div class="content-date-info-botton">
													<span class="title">
														Modificación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-user">
									<div class="content">
										<div class="content-img">
											<img src="https://themesbrand.com/velzon/html/default/assets/images/users/avatar-1.jpg"
												alt="">
										</div>
										<div class="content-info w-75">
											<div class="content-info-basics">
												<div class="content-info-name">
													<span>Jhon Doe</span>
												</div>
												<div class="content-info-email">
													<span>jhon.doe@gmail.com</span>
												</div>
												<div class="content-info-number">
													<span>(321) 456 45 67</span>
												</div>
											</div>
											<div class="content-date-info">
												<div class="content-date-info-top">
													<span class="title">
														Creación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
												<div class="content-date-info-botton">
													<span class="title">
														Modificación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-user">
									<div class="content">
										<div class="content-img">
											<img src="https://themesbrand.com/velzon/html/default/assets/images/users/avatar-1.jpg"
												alt="">
										</div>
										<div class="content-info w-75">
											<div class="content-info-basics">
												<div class="content-info-name">
													<span>Jhon Doe</span>
												</div>
												<div class="content-info-email">
													<span>jhon.doe@gmail.com</span>
												</div>
												<div class="content-info-number">
													<span>(321) 456 45 67</span>
												</div>
											</div>
											<div class="content-date-info">
												<div class="content-date-info-top">
													<span class="title">
														Creación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
												<div class="content-date-info-botton">
													<span class="title">
														Modificación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-user">
									<div class="content">
										<div class="content-img">
											<img src="https://themesbrand.com/velzon/html/default/assets/images/users/avatar-1.jpg"
												alt="">
										</div>
										<div class="content-info w-75">
											<div class="content-info-basics">
												<div class="content-info-name">
													<span>Jhon Doe</span>
												</div>
												<div class="content-info-email">
													<span>jhon.doe@gmail.com</span>
												</div>
												<div class="content-info-number">
													<span>(321) 456 45 67</span>
												</div>
											</div>
											<div class="content-date-info">
												<div class="content-date-info-top">
													<span class="title">
														Creación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
												<div class="content-date-info-botton">
													<span class="title">
														Modificación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-user">
									<div class="content">
										<div class="content-img">
											<img src="https://themesbrand.com/velzon/html/default/assets/images/users/avatar-1.jpg"
												alt="">
										</div>
										<div class="content-info w-75">
											<div class="content-info-basics">
												<div class="content-info-name">
													<span>Jhon Doe</span>
												</div>
												<div class="content-info-email">
													<span>jhon.doe@gmail.com</span>
												</div>
												<div class="content-info-number">
													<span>(321) 456 45 67</span>
												</div>
											</div>
											<div class="content-date-info">
												<div class="content-date-info-top">
													<span class="title">
														Creación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
												<div class="content-date-info-botton">
													<span class="title">
														Modificación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-user">
									<div class="content">
										<div class="content-img">
											<img src="https://themesbrand.com/velzon/html/default/assets/images/users/avatar-1.jpg"
												alt="">
										</div>
										<div class="content-info w-75">
											<div class="content-info-basics">
												<div class="content-info-name">
													<span>Jhon Doe</span>
												</div>
												<div class="content-info-email">
													<span>jhon.doe@gmail.com</span>
												</div>
												<div class="content-info-number">
													<span>(321) 456 45 67</span>
												</div>
											</div>
											<div class="content-date-info">
												<div class="content-date-info-top">
													<span class="title">
														Creación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
												<div class="content-date-info-botton">
													<span class="title">
														Modificación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-user">
									<div class="content">
										<div class="content-img">
											<img src="https://themesbrand.com/velzon/html/default/assets/images/users/avatar-1.jpg"
												alt="">
										</div>
										<div class="content-info w-75">
											<div class="content-info-basics">
												<div class="content-info-name">
													<span>Jhon Doe</span>
												</div>
												<div class="content-info-email">
													<span>jhon.doe@gmail.com</span>
												</div>
												<div class="content-info-number">
													<span>(321) 456 45 67</span>
												</div>
											</div>
											<div class="content-date-info">
												<div class="content-date-info-top">
													<span class="title">
														Creación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
												<div class="content-date-info-botton">
													<span class="title">
														Modificación:
													</span>
													<span class="value">
														12/12/2022
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</ngx-simplebar>
					</div>
				</div>
			</div>
			<!-- <div class="card-body">Footer</div> -->
		</div>
	</div>
	<div class="col-md-12" [ngClass]="isNewUser ? 'col-lg-6' : 'd-none'">
		<div class="card">
			<div class="card-header">Crear Usuarios</div>
			<div class="card-body">
				<div class="content-new-user">
					<div class="row mb-3">
						<div class="col-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Nombre">
							</div>
						</div>
						<div class="col-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Apellido">
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-6">
							<div class="input-group">
								<select class="form-select">
									<option selected disabled>Tipo documento</option>
									<option value="TI">TI</option>
									<option value="CC">CC</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Número de documento">
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Teléfono">
							</div>
						</div>
						<div class="col-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Dirección">
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-12">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Nombre de usuario">
							</div>
						</div>
						<div class="col-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Contraseña">
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-6">
							<div class="input-group">
								<select class="form-select">
									<option selected disabled>Seleccionar rol</option>
									<option value="TI">TI</option>
									<option value="CC">CC</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12 d-flex justify-content-end">
							<div class="content-actions">
								<button type="button"
									class="btn btn-soft-primary waves-effect waves-light">Cancelar</button>
								<button type="button"
									class="btn btn-soft-success waves-effect waves-light btn-save">Guardar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12" [ngClass]="isShowInformation ? 'col-lg-6' : 'd-none'">
		<div class="card">
			<div class="card-header align-items-center d-flex">
				<div class="flex-shrink-0 ms-2">
					<ul ngbNav #HeaderTabs="ngbNav" [activeId]="1"
						class="nav justify-content-end nav-tabs-custom rounded card-header-tabs border-bottom-0">
						<li [ngbNavItem]="1">
							<a ngbNavLink>
								Información
							</a>
							<ng-template ngbNavContent>
								<div class="row mb-3">
									<div class="col">
										<label for="basiInput" class="form-label">Nombre</label>
										<input type="password" class="form-control" placeholder="Jhon">
									</div>
									<div class="col">
										<label for="basiInput" class="form-label">Apellido</label>
										<input type="password" class="form-control" placeholder="Doe">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col">
										<label for="basiInput" class="form-label">Tipo de documento</label>
										<input type="password" class="form-control" placeholder="Cedula">
									</div>
									<div class="col">
										<label for="basiInput" class="form-label">Número de documento</label>
										<input type="password" class="form-control" placeholder="72335987">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col">
										<label for="basiInput" class="form-label">Telefono</label>
										<input type="password" class="form-control" placeholder="3218769898">

									</div>
									<div class="col">
										<label for="basiInput" class="form-label">Dirección</label>
										<input type="password" class="form-control" placeholder="Carrera 56 # 37 - 43">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col">
										<label for="basiInput" class="form-label">Email</label>
										<input type="password" class="form-control" placeholder="jhon.doe@gmail.com">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col">
										<label for="basiInput" class="form-label">Nickname</label>
										<input type="password" class="form-control" placeholder="jhond23">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col">
										<label for="basiInput" class="form-label">Rol</label>
										<input type="password" class="form-control" placeholder="Agente comercial">
									</div>
								</div>
								<div class="row mb-3">
									<div class="col text-end">
										<button class="btn btn-success">Editar</button>
									</div>
								</div>
							</ng-template>
						</li>
						<li [ngbNavItem]="2">
							<a ngbNavLink>
								Cambiar contraseña
							</a>
							<ng-template ngbNavContent>
								<div class="row mb-3">
									<div class="col-6">
										<div class="input-group">
											<input type="password" class="form-control" placeholder="Contraseña">
										</div>
										<span>Debe tener al menos 8 caracteres</span>
									</div>
									<div class="col-6">
										<div class="input-group">
											<input type="password" class="form-control"
												placeholder="Confirmar contraseña">
										</div>
									</div>
								</div>
							</ng-template>
						</li>
						<li [ngbNavItem]="3">
							<a ngbNavLink>
								Rol
							</a>
							<ng-template ngbNavContent>
								...
							</ng-template>
						</li>
					</ul>
				</div>
			</div>
			<div class="card-body">
				<!-- Tab panes -->
				<div class="tab-content text-muted">
					<div [ngbNavOutlet]="HeaderTabs"></div>
				</div>
			</div><!-- end card-body -->
		</div><!-- end card -->
	</div>
</div>